body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A9A9A9;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 600px;
    width: 400px;
    margin-top: 110px;
    align-items: center;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 370px;
    min-height: 100px;
    background-color: #404040;
    margin-top: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.showOperation {
    color: #a09f9c;
    font-size: 35px;
    margin:0;
}

.result {
    color: #d6d4d4;
    font-size: 60px;
    margin: 0;
}

.lower-case {
    color: #d6d4d4;
    font-size: 40px;
    margin: 0;
}

.buttons-panel {
    margin-top: 30px;
    padding-bottom: 18px;
}

button {
    height: 90px;
    width: 90px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 50px;
    color: #d6d4d4;
    background-color: black;
    border: 1px solid #404040;
}

button:hover {
    background-color: #404040;
}

button:active {
    background-color: black;
}

.clear,
.clear:active {

    background-color: #5f0202ee;
}

[data-operand], 
[data-equals] {
    color: greenyellow;
}

[data-delete] {
    color: #be0505ee;
}
